{% load static %}

<footer>
  <div class="text-center py-3">
    <p>Connect with me:</p>
    <ul class="list-unstyled">
      <li><a target="_blank" href="https://www.linkedin.com/in/hamdy-mohamed-0b738a177/">LinkedIn</a></li>
      <li><a target="_blank" href="https://github.com/Y00RG">GitHub</a></li>
      <li><a target="_blank" href="https://web.facebook.com/karim.kisho.948/">Facebook</a></li>
    </ul>
<!--     
    <a target="_blank" href="https://www.linkedin.com/in/hamdy-mohamed-0b738a177/">LinkedIn</a>
    <a target="_blank" href="https://github.com/Y00RG">GitHub</a>
    <a target="_blank" href="https://web.facebook.com/karim.kisho.948/">Facebook</a>
    -->
    <div class="text-center py-3">
      Copyright &copy; <span class="year">2024</span> WeatherApp. Powered By 
      <strong><a target="_blank" href="https://y00rg.github.io/Hamdy-Mohamed/">Hamdy Mohamed</a>.</strong>
    </div>
  </div>
</footer>
